* {
    
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
   

}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(15px); 
    opacity: 0.3; 
    z-index: -1;
}



.header {
    background-color: #FFD700; 
    color: #000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 0 0 15px 15px; 
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.header-buttons button {
    background-color: #000; 
    color: #FFD700;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.header-buttons button:hover {
    background-color: #333; 
}

.how-it-works {
    text-align: center;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    max-width: 800px;
}

.how-it-works h2 {
    margin-bottom: 30px;
}

.roles {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.role {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
    text-align: left;
}

.role h3 {
    color: #000000;
    margin-bottom: 15px;
}

.role ul {
    list-style: none;
    padding: 0;
}

.role ul li {
    margin: 10px 0;
    padding-left: 20px;
    position: relative;
}

.role ul li::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: #FFD700;
    font-weight: bold;
}

.cta {
    margin-top: 20px;
    font-size: 18px;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px; /* Сделал немного уже для лучшего вида */
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрирование по середине */
}

/* Стиль для затемнённого фона */
.modal {
    display: none; /* Скрываем по умолчанию */
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Затемнение фона */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Контейнер окна */
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Кнопка закрытия */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}


.close-btn:hover {
    color: red;
}

/* Стили для кнопок */
.btn-trainee, .btn-employer {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn-trainee {
    background: #4CAF50;
    color: white;
}

.btn-employer {
    background: #008CBA;
    color: white;
}

.btn-trainee:hover {
    background: #45a049;
}

.btn-employer:hover {
    background: #007bb5;
}


.login-container h2 {
    margin-bottom: 15px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: #FFD700;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.login-container button:hover {
    background:#8e29b9;
}

.register-text {
    margin-top: 10px;
}

.register-text a {
    color: #3498db;
    text-decoration: none;
    cursor: pointer;
}

.register-box {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    margin-top: 30px;
}
.register-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
}
.register-box button {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-employer, .btn-trainee {
    background: #333;
    color: white;
}
.btn-employer:hover, .btn-trainee:hover {
    background: #555;
}
/* Выдвижная панель */
.register-panel {
    display: none;
    position: fixed;
    top: 0;
    right: -400px;
    width: 350px;
    height: 100%;
    background: white;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px 0 0 10px;
}

.register-panel.show {
    right: 0;
}

/* Содержимое панели */
.panel-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.close-btn {
    font-size: 28px;
    cursor: pointer;
    align-self: flex-end;
    color: #555;
}

.close-btn:hover {
    color: black;
}

/* Форма */
form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

form input, form select {
    margin: 10px 0;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

form input:focus, form select:focus {
    border-color: #333333;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

form button {
    padding: 14px;
    background: #333333;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 10px;
}

form button:hover {
    background:#333333;
}

label:hover {
    background: #d0d0d0;
}

input[type="checkbox"] {
    margin-right: 10px;
    margin-top: 20px;
}



.information {
    padding: 20px;
    max-width: 1300px;
    margin: 30px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.information_block p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px; /* Отступ перед списком */
}

.information_block ul {
    padding-left: 20px; /* Отступ списка слева */
    margin-top: 0;
}

.information_block li {
    margin-bottom: 10px; /* Отступ между пунктами списка */
    font-size: 16px;
    line-height: 1.5;
}


.select_lg{
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
    line-height: 1.375;
}


.container {
    display: flex;              /* Включаем Flexbox для основного контейнера */
    max-width: 1400px;         /* Максимальная ширина контейнера */
    margin: 20px auto;         /* Центрируем контейнер */
    padding: 20px;              /* Отступы внутри контейнера */
    background-color: #fff;      /* Белый фон для контейнера */
    border-radius: 5px;          /* Скругленные углы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
}

/* Стили для левой колонки (Общая информация) */
.container__information1 {
    width: 40%;                 /* Ширина левой колонки */
    padding: 20px;              /* Отступы */
    box-sizing: border-box;    /* Учитываем padding в ширине */
}

.information h3 {
    font-size: 1.5em;          /* Размер заголовка */
    margin-bottom: 15px;       /* Отступ снизу */
    color: #000000;             /* Синий цвет для заголовка */
    display: flex;
    justify-content: center;
}

.user-info {
    border: 1px solid #ddd;      /* Рамка вокруг информации о пользователе */
    padding: 15px;              /* Отступы */
    border-radius: 5px;          /* Скругленные углы */
    background-color: #f9f9f9;   /* Светло-серый фон */
    margin-bottom: 15px;       /* Отступ снизу */
}

.section-title {
    font-size: 1.2em;          /* Размер заголовка секции */
    font-weight: bold;         /* Жирный шрифт */
    margin-bottom: 15px;       /* Отступ снизу */
    color: #000000;               /* Цвет заголовка */
}

.user-info p {
    margin: 15px 0;              /* Отступы сверху и снизу для параграфов */
    font-size: 17px;

}

.user-info strong {
    font-weight: bold;         /* Жирный шрифт для меток */
}

.edit-link {
    color: #007bff;             /* Синий цвет для ссылки "Изменить" */
    text-decoration: none;      /* Убираем подчеркивание */
    margin-left: 10px;          /* Отступ слева */
}

.edit-link:hover {
    text-decoration: underline; /* Подчеркиваем при наведении */
}

/* Стили для правой колонки (Рейтинг и форма) */
.right-column {
    width: 60%;                 /* Ширина правой колонки */
    padding-left: 20px;       /* Отступ слева */
    box-sizing: border-box;    /* Учитываем padding в ширине */
    display: flex;              /* Flexbox для вертикального расположения блоков */
    flex-direction: column;     /* Располагаем блоки вертикально */
}

.container__information2 {
    background-color: #ffffff;   /* Светло-голубой фон для рейтинга */
    border: 1px solid #eeee;   /* Голубая рамка */
    padding: 20px;              /* Отступы */
    border-radius: 5px;          /* Скругленные углы */
    margin-bottom: 20px;       /* Отступ снизу */
    text-align: center;   
    box-shadow: 0 2px 5 px rgba(0, 0, 0, 0.05);       /* Выравниваем текст по центру */
}

.container__information2 h3 {
    font-size: 1.3em;
    color: #000000; /* Цвет как и у общего заголовка */
  }
  .container__information3{
    display: flex;
    flex-direction: column;
}
  
  .form {
      border: 1px solid #ddd;      /* Рамка для формы */
      padding: 20px;              /* Отступы */
      border-radius: 5px;          /* Скругленные углы */
      background-color: #f9f9f9;   /* Светло-серый фон */
      box-sizing: border-box;    /* Учитываем padding в ширине */
  }
  
  .form__field {
      display: block;             /* Занимает всю ширину */
      margin-bottom: 15px; 
      width: 100%; 
           
  }

  .form__field:hover {
    background-color: transparent; /* Убираем изменение фона при наведении */
}

  
  .field__title {
    display: block;              /* Занимает всю ширину */
    font-weight: bold;           /* Жирный шрифт */
    margin-bottom: 5px;          /* Отступ снизу */
    font-size: 1.3em;
    color: #000000;              /* Цвет заголовка поля */
    transition: none;            /* Убираем все эффекты переходов */
}
  
  .field__textarea {
    width: 100%;             /* Текстовое поле занимает всю ширину */
    height: 300px;            /* Фиксированная высота (можно настроить) */
    padding: 12px;            /* Увеличенные отступы внутри текстового поля */
    border: 1px solid #ccc;    /* Рамка */
    border-radius: 8px;          /* Более скругленные углы */
    box-sizing: border-box;  /* Учитываем padding и border в ширине */
    resize: none;            /* Отключаем изменение размера */
    font-family: Arial, sans-serif; /* Шрифт как у всего сайта */
    font-size: 1em;             /* Размер шрифта */
    line-height: 1.5;           /* Межстрочный интервал */
    color: black;               /* Цвет текста */
    background-color: #f8f8f8;   /* Светлый фон */
    
    display: block; /*  Убеждаемся, что textarea - блочный элемент, чтобы занимал всю ширину */
  }

  .page__title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 25px;
  }

  .star-rating {
    display: inline-block; /* Размещаем звездочки в строку */
    margin-right: 10px;   /* Отступ справа от звездочек */
}

/* Flexbox для звездочек, чтобы они располагались в строку */
.star-rating {
    display: flex;         /* Включаем Flexbox */
    flex-direction: row;   /* Располагаем элементы горизонтально */
    justify-content: center; /* Выравниваем по центру */
    align-items: center;
}

.star-rating i {
    font-size: 1.5em;
    color: #ddd;          /* Цвет неактивных звездочек */
    margin: 0 2px;       /* Отступы между звездочками */
}

.star-rating i.active {
    color: #FFD700;       /* Золотой цвет активных звездочек */
}

.rating-value {
    font-size: 1.2em;
    font-weight: bold;
    color: #555;
    /* margin-top: 10px;    Убираем отступ сверху */
    display: inline-block; /* Размещаем в строку со звездочками */
}
  
.updateRatingButton{
    background-color: #f0f0f0; /* Светло-серый фон */
  border: 1px solid #ccc;       /* Серая рамка */
  border-radius: 5px;            /* Скругленные углы */
  padding: 8px 12px;           /* Уменьшенные отступы (сверху/снизу и слева/справа) */
  font-size: 0.9em;             /* Уменьшенный размер шрифта */
  color: #555;                 /* Темно-серый текст */
  cursor: pointer;              /* Курсор "рука" при наведении */
  transition: background-color 0.2s ease; /* Плавный переход цвета фона */
  white-space: nowrap;          /* Запрещаем перенос текста */
  display: inline-block;
  width: 200px;
  margin-bottom: 20px;
}


.invite__button{

    background-color: #f0f0f0; /* Светло-серый фон */
    border: 1px solid #ccc;       /* Серая рамка */
    border-radius: 5px;            /* Скругленные углы */
    padding: 8px 12px;           /* Уменьшенные отступы (сверху/снизу и слева/справа) */
    font-size: 0.9em;             /* Уменьшенный размер шрифта */
    color: #0b0606;                 /* Темно-серый текст */
    cursor: pointer;              /* Курсор "рука" при наведении */
    transition: background-color 0.2s ease; /* Плавный переход цвета фона */
    white-space: nowrap;          /* Запрещаем перенос текста */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin-bottom: 20px;



}

.invite__container{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}


.internship-container {

max-width: 1400px;
margin: 20px auto;
background: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.internship-section {
margin-bottom: 20px;
}

h2, h3 {
text-align: center;
}

.internship-list {
list-style: none;
padding: 0;
}

.internship-item {
display: flex;
justify-content: space-between;
align-items: center;
background: #f9f9f9;
padding: 10px;
border-radius: 5px;
margin-bottom: 10px;
}

.company-name {
font-weight: bold;
flex: 2;
}

.internship-date {
flex: 1;
text-align: center;
font-size: 14px;
color: #666;
}

.buttons {
flex: 1;
display: flex;
justify-content: flex-end;
}

.accept, .decline {
padding: 5px 10px;
border: none;
border-radius: 5px;
cursor: pointer;
margin-left: 5px;
}

.accept {
background: white;
color: black;
}

.decline {
background: #e74c3c;
color: white;
}

.status {
flex: 1;
text-align: right;
font-weight: bold;
color: #f39c12;
}

.internship-container, .skills-container {
width: 80%;
max-width: 700px;
margin: 20px auto;
background: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.internship-list {
list-style: none;
padding: 0;
}

.internship-item {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
border-bottom: 1px solid #ddd;
}

.buttons button {
margin-left: 5px;
padding: 5px 10px;
border: none;
cursor: pointer;
border-radius: 5px;
}

.additionaly{
    background: gray;
    color: white;
}

.accept {
background: rgb(2, 143, 24);
color: white;
}

.decline {
background: #e74c3c;
color: white;
}

.skills-list, .selected-skills {
display: flex;
flex-wrap: wrap;
gap: 10px;
margin-bottom: 10px;
}

.skill {
padding: 8px 12px;
background: #FFD700;
color: rgb(0, 0, 0);
border-radius: 20px;
cursor: pointer;
display: inline-block;
}

.skill:hover {
background: #8e29b9;
}

.selected-skills {
min-height: 40px;
border: 1px solid #ccc;
padding: 10px;
border-radius: 5px;
background: #f9f9f9;
}

textarea {
width: 100%;
height: 50px;
margin-top: 10px;
resize: none;
padding: 10px;
font-size: 14px;
border: 1px solid #ccc;
border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.modal.show {
    opacity: 1;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}





form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

.register-text {
    margin-top: 15px;
}

.register-text a {
    color: #007bff;
    text-decoration: none;
}

.register-text a:hover {
    text-decoration: underline;
}

/* Окно поддержки */
.support-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.support-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.support-modal textarea {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

.support-modal button {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.support-modal button:hover {
    background: #2980b9;
}

.close-support-btn {
    font-size: 24px;
    cursor: pointer;
    float: right;
}

.support-modal {
    display: none; /* Скрываем по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Затемнение фона */
    justify-content: center;
    align-items: center;
}

.support-modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.close-support-btn {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.search-container {
    width: 100%;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    font-family: sans-serif;
}

/* Стили для поля поиска */
.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Стили для переключателя */
.toggle-container {
    margin-bottom: 15px;
    width: 90%;
}

.toggle-container label {
    margin-right: 10px;
    cursor: pointer;
}

/* Стили для списка результатов */
.results-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.results-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.results-list li:last-child {
    border-bottom: none;
}

/* Стили для имени */
.result-name {
    flex-grow: 1;
}

/* Стили для рейтинга */
.result-rating {
    font-weight: bold;
    color: #4CAF50;
    min-width: 60px; /* Увеличиваем ширину для визуального баланса */
    text-align: center; /* Центрируем рейтинг */
}

/* Стили для кнопки "Подробнее" */
.result-details {
    color: #007bff;
    text-decoration: none;
    padding: 5px 10px; /* добавляем отступы */
    border: 1px solid #007bff; /* добавляем рамку */
    border-radius: 5px; /* скругляем углы */
    font-size: 0.9em; /* немного уменьшаем размер текста */
    transition: background-color 0.3s ease; /* добавляем плавную анимацию для фона */
}

.result-details:hover {
    background-color: #007bff;
    color: white;
}

.list__container{
    display: flex;              /* Включаем Flexbox для основного контейнера */
    max-width: 800px;         /* Максимальная ширина контейнера */
    margin: 20px auto;         /* Центрируем контейнер */
    padding: 20px;              /* Отступы внутри контейнера */
    background-color: #fff;      /* Белый фон для контейнера */
    border-radius: 5px;          /* Скругленные углы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
}

.result-rating {
    font-weight: bold;
    min-width: 60px;
    text-align: center;
}

/* Добавляем разные классы для разных диапазонов процентов */
.result-rating.high {
    color: #4CAF50; /* Зеленый */
}

.result-rating.medium {
    color: #ff9800; /* Оранжевый */
}

.result-rating.low {
    color: #f44336; /* Красный */
}


















.save-button {
    background-color: #000000; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.save-button:hover {
    background-color: #8e29b9;
    transform: scale(1.05);
}

.save-button:active {
    background-color: #8e29b9;
    transform: scale(0.98);
}


/* Основные стили для модального окна */
.modal1 {
    display: none; /* Изначально скрыто */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный затемняющий фон */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out; /* Плавное изменение прозрачности */
}

.modal.show {
    display: flex; /* Показываем окно при добавлении класса show */
}

/* Контейнер для модального окна */
.modal-content {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Тень для глубины */
    position: relative;
    animation: fadeIn 0.5s ease; /* Анимация появления */
    font-family: 'Arial', sans-serif;
}

/* Анимация появления модального окна */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Стиль для кнопки закрытия */
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #ff5c5c; /* Цвет при наведении на крестик */
}

/* Заголовок модального окна */
.modal-content h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase; /* Сделаем заголовок заглавными буквами */
    letter-spacing: 1px; /* Добавим небольшие интервалы между буквами */
}

/* Стили для текста в модальном окне */
#resumeText {
    font-size: 20px;
    line-height: 1.7;
    color: #555;
    margin-bottom: 20px;
    text-align: justify; /* Текст выравнивается по ширине */
    word-wrap: break-word; /* Перенос длинных слов */
}

/* Добавление отступов между строками в резюме */
#resumeText strong {
    font-weight: bold;
    color: #333;
}

/* Добавление кнопки закрытия */
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Фон для затемнения */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999; /* Чтобы фон был за модальным окном */
}