<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillBridge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="SHA512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
</head>
<body>
    <!-- Уведомления -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="header">
        <div class="logo">SkillBridge</div>
        <div class="header-buttons">
            <button onclick="openSupportModal()">Помощь</button>
            {% if 'email' in session %}
                <button onclick="logout()">Выйти</button>
            {% else %}
                <button id="login-btn">Вход</button>
            {% endif %}
        </div>
    </div>

    <h1 class="page__title">Личный кабинет</h1>

    <div class="container">
    
    <div class="information container__information1">
        <h3>Общая информация</h3>

        <div class="user-info">
            <p><strong>Имя:</strong> <span id="user-name">{{ user[1] }}</span> </p>
            <p><strong>Фамилия:</strong> <span id="user-name">{{ user[2] }}</span> </p>
            <p><strong>Email:</strong> <span id="user-email">{{ user[3] }}</span> </p>
            <p><strong>Софт-скиллы:</strong> <span id="lang">{{ user[7] }}</span> </p>
            <p><strong>Хард-скиллы:</strong> <span id="description">{{ user[6] }}</span> </p>
            <p><strong>Город:</strong> <span id="city">Томск</span> <a href="#" class="edit-link">Изменить</a> </p>
        </div>
        <div class="skills-container">
            <h2>Выбор компетенций</h2>
            
            <div class="skills-section">
                <h3>Хард-скиллы</h3>
                <div class="skills-list" id="hard-skills">
                    <span class="skill" onclick="selectSkill(this, 'selected-hard-skills')">Ruby</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-hard-skills')">C#</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-hard-skills')">C++</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-hard-skills')">TypeScript</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-hard-skills')">React</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-hard-skills')">Python</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-hard-skills')">JavaScript</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-hard-skills')">PHP</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-hard-skills')">SQL</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-hard-skills')">Node.js</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-hard-skills')">Docker</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-hard-skills')">Kubernetes</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-hard-skills')">GraphQL</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-hard-skills')">Swift</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-hard-skills')">Go</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-hard-skills')">CI/CD</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-hard-skills')">REST API</span>
                </div>
            </div>
            
            <div class="skills-section">
                <h3>Софт-скиллы</h3>
                <div class="skills-list" id="soft-skills">
                    <span class="skill" onclick="selectSkill(this, 'selected-soft-skills')">Лидерские качества</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-soft-skills')">Инициативность</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-soft-skills')">Тайм-менеджмент</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-soft-skills')">Работа в команде</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-soft-skills')">Коммуникабельность</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-soft-skills')">Креативность</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-soft-skills')">Дисциплинированность</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-soft-skills')">Критическое мышление</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-soft-skills')">Управление конфликтами</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-soft-skills')">Адаптивность</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-soft-skills')">Обучаемость</span>
                    <span class="skill" onclick="selectSkill(this, 'selected-soft-skills')">Переговорные навыки</span>
                </div>
            </div>
            
            <h3>Выбранные компетенции</h3>
            
            
            <div class="selected-skills-list">
                <div id="selected-hard-skills" class="selected-skills"></div>
                <div id="selected-soft-skills" class="selected-skills"></div>
            </div>
            <div class="save">
                <button class="save-button" onclick="saveSkills()">Сохранить</button>
            </div>
        </div>

    </div>




<div class="right-column">

    <div class="container__information2">
        <h3>Ваш рейтинг</h3>
        <div class="star-rating">  <!-- Добавляем div с классом star-rating -->
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
        </div>  <!-- Закрываем div с классом star-rating -->
        <span class="rating-value"></span>
    </div>
    <button class="updateRatingButton" onclick="window.location.href='{{ url_for('calculate_compatibility', user_id=user[0]) }}'">
        Рассчитать совместимость
    </button>

<div class="form container__information3 "> 

    <label class="field form__field">
        <span class="field__title">Напишите о своих сильных сторонах и интересных проектах:</span>
        <textarea class="field__textarea" id="description" name="description">{{ user[7] if user[7] else '' }}</textarea>
      </label>
      <button class="updateDescriptionButton" id="updateDescriptionButton" disabled>Обновить описание</button>

</div>
    
</div>
</div>

<div class="list">
    <div class="internship-container">
        <h2>Мои стажировки</h2>
        
        <div class="internship-section">
            <h3>Приглашения от компаний</h3>
            <ul class="internship-list">
                <li class="internship-item">
                    <span class="company-name">Компания "TechCorp"</span>
                    <span class="internship-date">25.02.2025</span>
                    <div class="buttons">
                        <button class="additionaly">Подробнее</button>
                        
                    </div>
                </li>
                <li class="internship-item">
                    <span class="company-name">Компания "InnovateX"</span>
                    <span class="internship-date">01.03.2025</span>
                    <div class="buttons">
                        <button class="additionaly">Подробнее</button>
                        
                    </div>
                </li>
            </ul>
        </div>
        
        <div class="internship-section">
            <h3>Мои заявки</h3>
            <ul class="internship-list">
                <li class="internship-item">
                    <span class="company-name">Компания "SoftDev"</span>
                    <span class="internship-date">20.02.2025</span>
                    <span class="status">На рассмотрении</span>
                </li>
                <li class="internship-item">
                    <span class="company-name">Компания "FutureTech"</span>
                    <span class="internship-date">28.02.2025</span>
                    <span class="status">На рассмотрении</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Модальное окно поддержки -->
<div id="support-modal" class="support-modal">
    <div class="support-modal-content">
        <span class="close-support-btn">&times;</span>
        <h2>Опишите вашу проблему</h2>
        <textarea id="support-textarea" placeholder="Введите ваш вопрос..."></textarea>
        <button id="send-support-btn">Отправить</button>
    </div>
</div>

<footer>
    <div class="footer-content">
      <div class="footer-left">
        <p>&copy; SkiiBridge 2025</p>
      </div>
  
      <div class="footer-center">
        <div class="footer-section">
          <h3>О нас</h3>
          <a href="#" class="footer-button">Наша миссия</a>
          <a href="#" class="footer-button">Команда</a>
        </div>
  
        <div class="footer-section">
          <h3>Работодателям</h3>
          <a href="#" class="footer-button">Разместить вакансию</a>
          <a href="#" class="footer-button">Найти сотрудников</a>
        </div>
  
        <div class="footer-section">
          <h3>Стажерам</h3>
          
          <a href="#" class="footer-button">Полезные статьи</a>
        </div>
      </div>
  
      <div class="footer-right">
        <!-- Здесь может быть дополнительный контент справа -->
      </div>
    </div>
  </footer>

<script>
    function selectSkill(element, targetId) {
        let target = document.getElementById(targetId);
        if (element.parentNode === target) {
            document.getElementById(targetId.replace('selected-', '')).appendChild(element);
        } else {
            target.appendChild(element);
        }
        updateSelectedSkills();
    }
    
    function updateSelectedSkills() {
        let selected = document.querySelectorAll('.selected-skills .skill');
        let skillText = Array.from(selected).map(skill => skill.textContent).join(', ');
        document.getElementById('selected-skills').value = skillText;
    }
</script>

<script>
    function saveSkills() {
        const hardSkills = Array.from(document.querySelectorAll('#selected-hard-skills .skill')).map(skill => skill.textContent).join(', ');
        const softSkills = Array.from(document.querySelectorAll('#selected-soft-skills .skill')).map(skill => skill.textContent).join(', ');

        fetch("{{ url_for('save_skills') }}", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
            },
            body: `hard_skills=${encodeURIComponent(hardSkills)}&soft_skills=${encodeURIComponent(softSkills)}`,
        })
        .then(response => {
            if (response.redirected) {
                window.location.href = response.url;  // Перенаправление после успешного сохранения
            }
        })
        .catch(error => {
            console.error("Ошибка при сохранении навыков:", error);
        });
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
      const ratingValue = 1.0; // Замените это значение на свой фактический рейтинг

      const starRating = document.querySelector(".star-rating");
      const ratingValueSpan = document.querySelector(".rating-value");

      const updateButton = document.getElementById("updateDescriptionButton");
      const descriptionTextarea = document.getElementById("description");

      updateButton.addEventListener("click", function () {
        const description = descriptionTextarea.value;
    
        fetch("{{ url_for('update_description') }}", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
            },
            body: `description=${encodeURIComponent(description)}`,
        })
        .then(response => {
            if (response.redirected) {
                window.location.href = response.url;  // Перенаправление после успешного обновления
            }
        })
        .catch(error => {
            console.error("Ошибка при обновлении описания:", error);
        });
    });

      if (starRating && ratingValueSpan) {
        const stars = starRating.querySelectorAll("i");
        const fullStars = Math.floor(ratingValue); // Целая часть рейтинга
        const hasHalfStar = ratingValue % 1 !== 0; // Есть ли дробная часть

        // Заполняем целые звезды
        for (let i = 0; i < fullStars; i++) {
          stars[i].classList.add("active");
        }

        // Обновляем текстовое значение рейтинга
        ratingValueSpan.textContent = ratingValue.toFixed(1) + " / 5"; // Отображаем с одним знаком после запятой
      }
    });

    function logout() {
        // Перенаправляем на главную страницу
        window.location.href = "/";
    }
  </script>

    <script src="functions.js"></script>

    <script>
        // Функция для автоматического скрытия уведомлений
        function hideFlashMessages() {
            const flashMessages = document.querySelectorAll('.flash');
            flashMessages.forEach(message => {
                setTimeout(() => {
                    message.style.opacity = '0';
                    setTimeout(() => message.remove(), 500); // Удаляем элемент после исчезновения
                }, 3000); // Уведомление исчезнет через 3 секунды
            });
        }
    
        // Вызываем функцию при загрузке страницы
        document.addEventListener('DOMContentLoaded', hideFlashMessages);
        </script>
        <script>
            // Функция для открытия модального окна поддержки
            function openSupportModal() {
                const supportModal = document.getElementById('support-modal');
                supportModal.style.display = 'flex';
                setTimeout(() => supportModal.classList.add('show'), 10);
            }
        
            // Функция для закрытия модального окна поддержки
            function closeSupportModal() {
                const supportModal = document.getElementById('support-modal');
                supportModal.classList.remove('show');
                setTimeout(() => supportModal.style.display = 'none', 300);
            }
        
            // Закрытие модального окна при клике на крестик
            document.querySelector('.close-support-btn').addEventListener('click', closeSupportModal);
        
            // Закрытие модального окна при клике вне его области
            window.addEventListener('click', (event) => {
                const supportModal = document.getElementById('support-modal');
                if (event.target === supportModal) {
                    closeSupportModal();
                }
            });
        
            // Обработчик отправки формы
            document.getElementById('send-support-btn').addEventListener('click', function (event) {
                event.preventDefault(); // Предотвращаем отправку формы
                const textarea = document.getElementById('support-textarea');
                const message = textarea.value.trim();
        
                if (message) {
                    alert('Ваш вопрос отправлен! Мы свяжемся с вами в ближайшее время.');
                    textarea.value = ''; // Очищаем текстовое поле
                    closeSupportModal(); // Закрываем модальное окно
                } else {
                    alert('Пожалуйста, введите ваш вопрос.');
                }
            });
        </script>
    
        <script>
            function logout() {
                fetch("{{ url_for('logout') }}", {
                    method: "GET",
                })
                .then(response => {
                    if (response.redirected) {
                        window.location.href = response.url;  // Перенаправление после выхода
                    }
                })
                .catch(error => {
                    console.error("Ошибка при выходе:", error);
                });
            }
        </script>

    </body>
</html>