<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillBridge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="header">
        <div class="logo">SkillBridge</div>
        <div class="header-buttons">
            <button onclick="alert('Помощь скоро будет доступна')">Помощь</button>
            <button onclick="alert('Функция входа скоро будет реализована')">Вход</button>
        </div>
    </div>

    <h1 class="page__title">Личный кабинет</h1>

    <div>

    
    
    <div>
        <h2>Общая информация</h2>

        <div class="user-info">
            <div class="section-title">Основная информация</div>
            <p><strong>Имя:</strong> <span id="user-name">Иван Иванов</span> </p>
            <p><strong>Фамилия:</strong> <span id="user-name">Иван Иванов</span> </p>
            <p><strong>Email:</strong> <span id="user-email">ivan.ivanov@example.com</span> </p>
            <p><strong>Языки программирования:</strong> <span id="lang">Php</span> </p> 
            <a href="#" class="edit-link">Изменить</a>
        </div>

    </div>
</div>

<div>
    <div>
        <h2> Ваш рейтинг</h2>
    </div>
</div>
</body>